span[data-toggle="tooltip"]:after{
    font-family: FontAwesome;
    color: #1E91CF;
    content: "\f059";
    margin-left: 4px;
}
div.required .control-label:not(span):before, td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}
.btn-qq {
    color: #ffffff;
    background-color: #0073c0;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-weibo {
    color: #ffffff;
    background-color: #da1700;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-wechat {
    color: #ffffff;
    background-color: #99D41D;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-github {
    color: #ffffff;
    background-color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
}
.logo-qq {
    color: #0073c0;
}

.logo-weibo {
    color: #da1700;
}

.logo-wechat {
    color: #99D41D;
}

.logo-github {
    color: #444444;
}
.logo-alipay {
    color:#1674B0;
}
.logo-weixinzhifu{
    color: #44AA3C;
}
.treeview-menu>li>a>.playicon{
    width: 20px;
}
.dropdown-menu>li>a>.playicon{
    margin-right: 10px;
}
.kv-avatar .file-preview-frame, .kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}