<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" th:content="${website.seoKeywords}">
<meta name="description" th:content="${website.seoDescription}">
<base href="../../" th:href="@{${#httpServletRequest.getContextPath()}}" />
<link rel="icon" href="../../favicon.ico">

<title th:text="${website.seoTitle}">艾尔里信息科技</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/assets/plugins/bootstrap/3.3.0/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template -->
<link th:href="@{/assets/css/signin.css}" rel="stylesheet">
    <link th:href="@{/assets/plugins/formValidation/css/formValidation.css}" rel="stylesheet">
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script th:src="@{/assets/js/ie-emulation-modes-warning.js}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

	<div class="container">
		<form class="form-signin" role="form" method="post" action="signin" data-fv-message="This value is not valid">
			<h2 class="form-signin-heading">Please sign in</h2>
			<div class="form-group">
				<input type="text" name="username" class="form-control" placeholder="username" required autofocus data-fv-notempty-message="请填写用户名"/>
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="Password" required data-fv-notempty-message="请填写密码"/>
			</div>
			<div class="form-group has-feedback">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="请输入验证码" name="captcha" data-fv-notempty data-fv-notempty-message="请填写验证码"
						aria-describedby="validate-code-addon"/> <span class="input-group-btn" id="validate-code-addon"> <a href="javascript:;"
						id="refreshCaptchaButton"> <img th:src="@{/captcha.jpg}" style="height: 34px;" />
					</a>
					</span>
				</div>
			</div>
			<div class="checkbox">
				<label> <input type="checkbox" name="remember" value="remember-me"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>

	</div>
	<!-- /container -->

    <script src="assets/plugins/jquery/3.1.1/jquery.min.js"></script>
    <script src="assets/plugins/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/plugins/formValidation/js/formValidation.js"></script>
    <script type="text/javascript" src="assets/plugins/formValidation/js/framework/bootstrap.js"></script>
    <script type="text/javascript" src="assets/plugins/formValidation/js/language/zh_CN.js"></script>


	<!--<script type="text/javascript" src="assets/vendor/plugins/bootstrapvalidator/js/bootstrapValidator.min.js"></script>-->
	<!--<script type="text/javascript" src="assets/vendor/plugins/bootstrapvalidator/js/language/zh_CN.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script th:src="@{/assets/js/ie10-viewport-bug-workaround.js}"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            var base = "";
            $("#refreshCaptchaButton").on(
                "click",
                function () {
                    $(this).children("img").attr("src", base + "captcha.jpg?_t=" + new Date().getTime());
                });
            $("form")
                .formValidation( {locale: 'zh_CN'})
                .on('success.form.fv',
                    function (e) {
                        // Prevent form submission
                        e.preventDefault();
                        // Get the form instance
                        var $form = $(e.target);
                        // Get the FormValidation instance
                        var bv = $form.data('formValidation');
                        $.post(
                            $form.attr('action'),
                            $form.serialize(),
                            function (result) {
                                bv.disableSubmitButtons(false);
                                if (result.success) {
                                    $(".form-signin-heading").nextAll(".alert").remove();
                                    location.href = "profile.html";
                                } else {
                                    $(".form-signin-heading").nextAll(".alert").remove();
                                    $(".form-signin-heading").after("\
                            <div class=\"alert alert-danger alert-dismissible\" role=\"alert\">\
                            <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>\
                            <strong>错误提示!</strong> " + result.msg + "\</div>");
                                    $("#refreshCaptchaButton").children("img").attr("src", base + "captcha.jpg?_t=" + new Date().getTime());

                                }
                            }, 'json');
                    });
        });
	</script>
</body>
</html>
